.wrapper {
  
  /* width:100%; */
  margin:0 auto;
  padding-top:3em;
  
}

.button {

    position:relative;
    font-family:sans-serif;
    width:100%;
    max-width:290px;
    height:60px;
    border:solid 2px  #ff3333;
    margin:0 auto;  
    text-align:center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.button a {
    
    position:relative;
    padding:0px;
    text-transform:uppercase;
    text-decoration: none;
    color: #ff3333;
    font-size:0.8rem;
    font-weight:600;
    line-height:60px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1000;

 
}

.user-friendly {
  

  min-width:100%;
  padding:0px;
  float:left;
  
}

.button:hover a {

    color:#ffffff;
  
}


.background {
    position: absolute;
    width:100%;
    bottom:0;
    height:0px;
    margin:0 auto;
    padding:0px;
    background-color: #ff3333;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
    transition: .2s ease;

}

.button:hover {

     color:#ffffff;

}

.button:hover .background {
  
    height:60px;
}

.label {
  
  font-family:sans-serif;
  color:#888;
  width:100%;
  text-align:center;
  margin:0.4em 0 2em 0;
  
}
.layer{
    position: relative;
    border-style: dotted;
    background-color: #fff;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    
}